* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: white
}

nav{
    padding-right: 0;
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 10rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    width: fit-content;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.logo-imagen{
    width: 15rem;
}

main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    padding: 3rem;
}

.titulo-principal {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.titulo-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.producto-imagen {
    max-width: 100%;
}

.producto-detalles {
    background-color: white;
    padding: .5rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1rem;
    margin: .5rem 0;
}

.producto-agregar {
    border: 0;
    background-color: white;
    color: black;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid black;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: black;
    color: white;
}

.producto{
    border: 1px solid black;
    padding: 1rem;
}

.producto-precio{
    margin-bottom: 1rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
   font-size: 1rem;
   text-transform: uppercase;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 5rem;
    border-radius: 1rem;
}

.carrito-producto-titulo {
    width: 6rem;
}

.carrito-titulo small {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}

.carrito-titulo p{
    text-align: left;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 1rem;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    gap: 1rem;
    border: 1px solid black;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: black;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.boton-carrito {
    margin-top: 2rem;
    color: black;
}

.numerito {
    background-color: black;
    padding: .15rem .25rem;
    border-radius: .25rem;
    color: white;
}

.boton-carrito.active .numerito {
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
<<<<<<< HEAD
    padding: 3rem 0;
}

footer div{
    display: flex;
    justify-content: space-around;
}

.sitemap,
=======
}

footer div{
margin: 0 10rem;
display: flex;
justify-content: space-around;
padding: 2rem 0;
}

.sitemap,
.ask,
>>>>>>> 81848f49b553f69e8d8d0dbb273058aec1eaf553
.contact{
display: flex;
flex-direction: column;
text-transform: uppercase;
}

.contact p{
text-transform: none;
width: 28rem;
}

form{
display: flex;
}

#email{
padding: 0.2rem;
width: 80%;
}

.contact ul{
display: flex;
font-size: 1.2rem;
width: 100%;
justify-content: space-between;
}

.contact ul li{
margin: 0 .5rem 0 0;
list-style: none;
}

.contact ul li i{
margin-right: 0.2rem;
}


.contact ul li a{
color: white;
text-transform: none;
text-decoration: none;
}

.sitemap{
justify-content: flex-start;
}

<<<<<<< HEAD
=======
.ask h4,
>>>>>>> 81848f49b553f69e8d8d0dbb273058aec1eaf553
.sitemap h4{
width: 14rem;
}

.sitemap ul li{
margin-top: 1rem;
list-style: none;
}

.sitemap ul a{
font-size: 0.9rem;
text-transform: none;
color: white;
text-decoration: none;
}

.ask p{
<<<<<<< HEAD
    text-transform: none;
    margin-top: 2rem;
=======
text-transform: none;
>>>>>>> 81848f49b553f69e8d8d0dbb273058aec1eaf553
}

.disabled {
    display: none;
}

.carrito-vacio,
.carrito-comprado{
    height: 4rem;
    border-radius: 5px;
    vertical-align: middle;
    color: white;
}

.carrito-comprado{
    background-color: #198754;
    border: 1px solid #198754;
}

.carrito-vacio p,
.carrito-comprado p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
}

.carrito-vacio{
    background-color: #DC3545;
    border: 1px solid #DC3545;
}

<<<<<<< HEAD
.product-button{
    border: 1px solid white;
    padding: .5rem 2rem;
}

.ask{
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.accordion-container{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.ac{
    background-color: black !important;
}

.ac-text,
.ac .ac-trigger {
    color: white !important;
}
=======
>>>>>>> 81848f49b553f69e8d8d0dbb273058aec1eaf553


